<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Skills</h1>
    <a href="/skills/new">Add Skill</a>
    <ul>
        <% skills.forEach(skill => { %>
            <li>
                <a href="/skills/><%= skill.skill %>">
                    <%= skill.skill %>
                </a>
                -  
                <%= skill.thisCourse ? 'it is ' : 'it is not ' %>taught
            </li>   
        <% }) %>   
        
    </ul>
    
</body>
</html>