<!DOCTYPE html>
<html>
  <head>
    <title>Dev skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dev skills</h1>
    <a href="/skills">skills</a>
  </body>
</html>